body {
    font-family: Arial, sans-serif;
}

header {
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 0;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.logo {
    max-width: 200px;
}

.affiliate-logo {
    max-width: 100px;
    max-height: 69px;
}

/* form */
input[type="date"] {
    width: 100%;
    /* This will make the date input field take the full width */
    padding: 2px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#notes {
    width: 100%;
    min-height: 100px;
    /* this will set a minimum height for the notes textarea */
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    /* allows the user to resize the textarea vertically */
}

/* white background/box for right panel text */
/* .framed-content {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
} */


.carousel-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
}

.testimonial-content {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.carousel-control-prev,
.carousel-control-next {
    height: 100%;
    width: auto;
    opacity: 0.05;
    display: flex;
    align-items: center;
    padding: 5 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 35px;
    width: 35px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}


#lead-form {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

#lead-form .btn-primary {
    background-color: #5cb85c;
    border-color: #5cb85c;
}


h1 {
    font-size: 2em;
    margin-top: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

footer {
    padding: 20px 0;
    background-color: #f8f9fa;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 767px) {
    .col-md-6 {
        margin-bottom: 20px;
    }
}




/* header,
footer {
    position: relative;
    z-index: 1;
}

.header-content,
.footer-content {
    position: relative;
    z-index: 2;
}

header::before,
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bothballs_banner.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: 1;
}

.header-content,
.footer-content {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
} */

/* .logo,
.affiliate-logo {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
} */



.main-content {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/bothballs.jpeg');
    background-size: cover;
    background-position: center 25%;
    opacity: 0.13;
    z-index: -1;
}



